<div class="container-fluid">
        <form class="formcad shadow p-3 mb-5 bg-body rounded">
            <p>Ainda não sou cliente Bloom modas</p>
            <div class="mb-3">
                <label for="clientName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="usrname" aria-describedby="text"
                    placeholder="Digite seu nome">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="usrlastName" placeholder="Digite seu sobrenome">
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="usremail" placeholder="seuemail@seuemail.com.br">
            </div>
            <div class="md-4">
                <label for="sexUser" class="formlabel">Sexo</label>
                <select id="usrsex" class="form-select">
                    <option selected>...</option>
                    <option>F</option>
                    <option>M</option>
                    <option>Indefinido</option>
                </select></br>
                <div class="mb-3">
                    <label for="userCPF" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="usrCpf" placeholder="000.000.000-00">
                </div>
                <div class="mb-3">
                    <label for="userPwd" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="usrpassword" placeholder="***">
                </div>
                <div class="mb-3">
                    <label for="usertPwd" class="form-label">Confirme sua senha</label>
                    <input type="password" class="form-control" id="usrtruepassword" placeholder="***">
                </div>
            </div>
            <button type="button" class="btn btn-dark container-fluid" onclick="cadastrar()">Cadastar</button>
        </form>
    </div>