<div class="container-fluid">
        <div class="cont">
            <form action="/auth/signauth" class="formc shadow p-3 mb-5 bg-body rounded" method="post">
                <p>Já sou cliente Bloom modas</p>
                <div class="mb-3">
                    <label for="userInput" class="form-label">Email</label>
                    <input type="text" value="text" class="form-control" name="username" id="user" aria-describedby="text"
                        placeholder="seuemail@seuemail.com.br">
                </div>
                <div class="mb-3">
                    <label for="userpassword" class="form-label">Senha</label>
                    <input type="password" value="text" class="form-control" name="password" id="pwd" placeholder="****">
                </div>
                <button type="submit" class="btn btn-dark container-fluid" id="btnLogin">Entrar</button>
                <p>OU</p>
                <p>Ainda não e cliente? Cadastre-se agora!</p>
                <button type="button" class="btn btn-dark container-fluid" id="btnLogin"
                    onclick="redregister()">Criar conta</button>
            </form>
        </div>
    </div>