<div class="container-fluid">
        <div class="cont">
            <form class="formc shadow p-3 mb-5 bg-body rounded">
                <p>Já sou cliente Bloom modas</p>
                <div class="mb-3">
                    <label for="userInput" class="form-label">Email ou cpf</label>
                    <input type="text" class="form-control" id="user" aria-describedby="text"
                        placeholder="seuemail@seuemail.com.br / 000.000.000-00">
                </div>
                <div class="mb-3">
                    <label for="userpassword" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="pwd" placeholder="****">
                </div>
                <button type="button" class="btn btn-dark container-fluid" onclick="aut()" id="btnLogin">Entrar</button>
                <p>OU</p>
                <p>Ainda não e cliente? Cadastre-se agora!</p>
                <button type="button" class="btn btn-dark container-fluid" id="btnLogin"
                    onclick="redregister()">Criar conta</button>
            </form>
        </div>
    </div>