<div class="wrap">
        <div class="barEmail">
            <div class="emailcontent">
                <h3>Cadastre seu email</h3>
                <p>ganhe 10% de desconto em qualquer compra</p>
            </div>
            <div class="ipt">
                <input type="email" id="email" placeholder="Cadastre seu email">
                <button type="button">cadastre ></button>
            </div>
            <div class="ico">
                <i class="fa-brands fa-instagram" onclick="msg()"></i>
                <i class="fa-brands fa-facebook-f" onclick="msg()"></i>
            </div>
        </div>
        <div class="ftcontent">
            <div>
                <strong>
                    <h5>Conteudo</h5>
                </strong>
                <ol>
                    <li href="#promoçoes">Promoções</li>
                    <li href="tshirts">Tshirts</li>
                    <li href="vestidos">Vestidos</li>
                    <li href="croppeds">Croppeds</li>
                </ol>
            </div>
            <div>
                <strong>
                    <h5>Atendimento</h5>
                </strong>
                <ul>
                    <li>atendimento@hotmail.com.br</li>
                    <li>Tel:(27)0000-0000</li>
                </ul>
            </div>
            <div>
                <strong>
                    <h5>Redes Sociais</h5>
                </strong>
                <ol>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>WhatsApp</li>
                </ol>
            </div>
            <div class="payForm">
                <strong>
                    <h5>Formas de pagamento</h5>
                </strong>
                <div class="payList">
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-pix"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-brands fa-cc-diners-club"></i>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>DESENVOLVIDO POR CRISTHIAN MOURA</p>
        <p>COPYRIGHT © 2022 TODOS OS DIREITOS RESERVADOS. BLOOM MODAS</p>
        <div>
            <i class="fa-brands fa-instagram" onclick="msg()"></i>
            <i class="fa-brands fa-facebook-f" onclick="msg()"></i>
        </div>
    </footer>