<header>
        <div class="hcontent">
            <div class="textleft">
                <p class="text">FRETE GRATIS EM COMPRAS A PARTIR DE R$250,00</p>
            </div>
            <div class="socialmedia">
                <i class="fa-brands fa-instagram" onclick="msg()"></i>
                <p class="text">Instagram</p>
                <i class="fa-brands fa-facebook-f" onclick="msg()"></i>
                <p class="text">facebook</p>
            </div>
        </div>
    </header>
    <div class="imgcontent">
        <img src="../imgs/Logo.jpeg" width="100px" height="50px" alt="logo loja" onclick="redirect()">
        <div>
            ATENDIMENTO </br>
            SAC:(27)0000 - 0000
        </div>
        <input type="text" class="pesq" placeholder="O QUE VOCE ESTA BUSCANDO?">
        <div>
            <i class="fa-solid fa-box-open" onclick="buycar()"></i>
            <p class="text">Carrinho</p>
        </div>
        <div>
            <i class="fa-solid fa-user" onclick="redsignin()"></i>
            <p class="text">Entrar / Cadastrar</p>
        </div>
    </div>
    <div class="content">
        <div></div>
        <div class="hvtext">
            <p class="text2" onclick="promo()">Promoções</p>
        </div>
        <div class="hvtext">
            <p class="text2" onclick="msg()">Tshirts</p>
        </div>
        <div class="hvtext">
            <p class="text2" onclick="msg()">Vestidos</p>
        </div>
        <div class="hvtext">
            <p class="text2" onclick="msg()">Croppeds</p>
        </div>
        <div class="hvtext">
            <p class="text2" onclick="mostrar()" id="dropbtn">+Categorias</p>
        </div>
        <div></div>
    </div>
    <div class="dropcat" id="dropopt">
        <p onclick="msg()">CALÇAS</p>
        <p onclick="msg()">ROUPAS INTIMAS</p>
    </div>