<div class="container acert shadow-sm p-3 mb-5 bg-body rounded ">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <h2>Meu carrinho</h2>
            </div>
        </nav>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
        <div class="d-flex flex-row">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" alt="roupa" class="img-thumbnail"
                width="150px" height="200px">
            <div class="carrinho">
                <h4>Teste de texto para compra de item</h4>
                <button class="btn btn-outline-success">
                    Adicionar
                </button>
                <button class="btn btn-outline-danger">
                    Remover
                </button>
            </div>
            <div></div>
            <div>
                <button class="btn btn-outline-secondary">
                    +
                </button>
                <span></span>
                <button class="btn btn-outline-secondary">
                    -
                </button>
            </div>
            <h4>R$ 83,90</h4>
        </div>
    </div>
    <div class="container foo shadow-lg p-3 mb-5 bg-body rounded">
        <button class="btn btn-acert btn-warning">
            Finalizar compra
        </button>
    </div>