<div id="carouselExampleCaptions" class="carousel slide imgbox" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../imgs/stand/stand1.jpeg" class="d-block w-100" alt="blusas">
                <div class="carousel-caption d-none d-md-block">
                    <p>As</p>
                    <p>melhores</p>
                    <p>ofertas de</p>
                    <p>T-shirts</p>
                    <button type="button" class="btnCentral">Aproveite</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../imgs/stand/stand2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p>As</p>
                    <p>melhores</p>
                    <p>ofertas de</p>
                    <p>T-shirts</p>
                    <button type="button" class="btnCentral">Aproveite</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../imgs/stand/WhatsApp Image 2022-04-19 at 22.32.00 (2).jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p>As</p>
                    <p>melhores</p>
                    <p>ofertas de</p>
                    <p>T-shirts</p>
                    <button type="button" class="btnCentral">Aproveite</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../imgs/stand/WhatsApp Image 2022-04-19 at 22.32.01.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p>As</p>
                    <p>melhores</p>
                    <p>ofertas de</p>
                    <p>T-shirts</p>
                    <button type="button" class="btnCentral">Aproveite</button>
                </div>
            </div>
        </div>
    </div>
    <div class="promo">
        <center>
            <h2>Promoções</h2>
        </center>
        <div class="owl-carousel owl-theme car">
            <div class="imgroll">
                <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg">
                <div>
                    <h5>Conjunto Verão mid</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção2/WhatsApp Image 2022-04-19 at 22.31.59 (1).jpeg">
                <div>
                    <h5>Conjunto Verão mid</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleçao3/WhatsApp Image 2022-04-19 at 22.31.53.jpeg" ;>
                <div>
                    <h5>Conjunto Verão mid</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div class="imgroll">
            <div class="imgroll">
                <img src="../imgs/coleção4/WhatsApp Image 2022-04-19 at 22.32.02 (1).jpeg">
                <div>
                    <h5>Conjunto Verão mid</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção5/WhatsApp Image 2022-04-19 at 22.32.20.jpeg">
                <div>
                    <h5>Conjunto Verão mid</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção6/WhatsApp Image 2022-04-19 at 22.32.21.jpeg">
                <div>
                    <h5>Conjunto Verão mid</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="promo">
        <center>
            <h2>Lançamentos</h2>
        </center>
        <div class="owl-carousel owl-theme car">
            <div class="imgroll">
                <img src="../imgs/coleção7/WhatsApp Image 2022-04-19 at 22.32.23.jpeg">
                <div>
                    <h5>Vestido longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção8/WhatsApp Image 2022-04-19 at 22.32.24 (1).jpeg">
                <div>
                    <h5>Vestido longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção9/WhatsApp Image 2022-04-19 at 22.32.05 (1).jpeg" ;>
                <div>
                    <h5>Vestido longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div class="imgroll">
            <div class="imgroll">
                <img src="../imgs/coleção10/WhatsApp Image 2022-04-19 at 22.31.54.jpeg">
                <div>
                    <h5>Vestidos longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção11/WhatsApp Image 2022-04-19 at 22.32.03 (1).jpeg">
                <div>
                    <h5>Vestidos longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção13/WhatsApp Image 2022-04-19 at 22.32.00 (1).jpeg">
                <div>
                    <h5>Vestido longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="promo">
        <center>
            <h2>Outlet 30% OFF</h2>
        </center>
        <div class="owl-carousel owl-theme car">
            <div class="imgroll">
                <img src="../imgs/coleção14/WhatsApp Image 2022-04-19 at 22.31.57 (2).jpeg">
                <div>
                    <h5>Tshirts</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção15/WhatsApp Image 2022-04-19 at 22.31.57 (1).jpeg">
                <div>
                    <h5>Tshirts</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/coleção16/WhatsApp Image 2022-04-19 at 22.32.08 (1).jpeg" ;>
                <div>
                    <h5>Tshirts</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div class="imgroll">
            <div class="imgroll">
                <img src="../imgs/stand/stand1.jpeg">
                <div>
                    <h5>Vestidos longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/stand/WhatsApp Image 2022-04-19 at 22.32.00 (2).jpeg">
                <div>
                    <h5>Vestidos longo</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
            <div class="imgroll">
                <img src="../imgs/stand/WhatsApp Image 2022-04-19 at 22.32.01.jpeg">
                <div>
                    <h5>Tshirts</h5><br>
                    <h6><del>R$100,00</del></h6>
                    <h3>R$ 83,99</h3>
                </div>
            </div>
        </div>
    