<div class="promtxt">
        <h2>Promoções</h2>
        <p>Aproveite as Promoções de Roupas, as melhores promoções</p>
    </div>
    <div class="barCentral bg-light">
        <p>Classificar por</p>
        <select class="select">
            <option>Maior Preço</option>
            <option>Menor Preço</option>
            <option>Lançamento</option>
            <option>Destaque</option>
            <option>Mais vendido</option>
        </select>
    </div>
    <div class="displayImg">
        <div class="divide">
            <img src="../imgs/Coleção1/WhatsApp Image 2022-04-19 at 22.32.09.jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
        <div class="divide">
            <img src="../imgs/coleção2/WhatsApp Image 2022-04-19 at 22.31.59 (1).jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
        <div class="divide">
            <img src="../imgs/coleção4/WhatsApp Image 2022-04-19 at 22.32.02 (1).jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
        <div class="divide">
            <img src="../imgs/coleção5/WhatsApp Image 2022-04-19 at 22.32.20.jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
        <div class="divide">
            <img src="../imgs/coleção6/WhatsApp Image 2022-04-19 at 22.32.21.jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
        <div class="divide">
            <img src="../imgs/coleção7/WhatsApp Image 2022-04-19 at 22.32.24.jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
        <div class="divide">
            <img src="../imgs/coleção8/WhatsApp Image 2022-04-19 at 22.32.25.jpeg" width="240px" height="300px">
            <h5>Conjunto Verão mid</h5><br>
            <h6><del>R$100,00</del></h6>
            <h3>R$ 83,99</h3>
        </div>
    </div>